.menu-bar {
  overflow: hidden;
  height: auto;
  position: fixed;
  width: 190px;
  float:left;
  left:0px;
  padding: 10px;
  background: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.sesion-bar {
  top: 0px;
  left: 100%;
  margin-top: 0px;   /* height/2 = 500px / 2 */
  margin-left:-180px;
}

.menu-bar h1 {
    font-weight: 100;
    text-align: center;
    font-size: 1.6em;
    color: orange;
    position:relative;
    float:none;
    display:block;
}

.menu-bar h2 {
    font-weight: 100;
    text-align: center;
    font-size: 1em;
    color: orange;
    position:relative;
   display:block;
}

.menu-bar a {
  //opacity: 0.6;
  transition: opacity ease 0.5s;
}

.menu-bar a:hover {
  color:orange;
}


.image-perfil {
  width: 160px ;
  height: 180px;
  float:none;
  display:block;
  border: 2px solid #f89934;
  margin: 0 auto;
  border-radius: 2px;
  position:auto;
  //box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  
}

.login-help {

  margin:0 auto;
  text-align: center;
  float:none;
  
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: relative;
  margin-right:0px;
  float:none;
}

/*Create a horizontal list with spacing*/
li {
	display:block;
  float:none;
}

/*Style for menu links*/
li a {
	//display:block;
	width: 160px;
	margin:0 auto;
	text-align: center;
	font-size: 0.9em;
	border-bottom: 2px solid orange;
	padding-bottom: 0px;
	padding-top:3px;

}

/*Hover state for top level links*/


/*Style for dropdown links*/


/*Hover state for dropdown links*/
li:hover ul a:hover {
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	text-decoration: none; 
	color: #fff;
	background: #f89934;
	text-align: center;
	padding: 10px 0;
	display: none;
	//float:right;
}

.contenido{
  display:normal;
  float:left;
  padding: 20px;
  width: 60%;
  margin-left: 215px;
  margin-top:55px;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  //overflow: hidden;
}
.contenido h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
  color: orange;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}