.menu-bar {
  overflow: hidden;
  height: auto;
  position: fixed;

  float:left;
  background: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

	  padding: 0px;
	  top:0px;


	  width: 100%;
}

.menu-bar h1 {
  display:none;
}

.menu-bar h2 {
  display:none;
}

.menu-bar a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  //opacity: 0.6;
  transition: opacity ease 0.5s;
}

.menu-bar a:hover {
  color:orange;
}


.image-perfil {
  display:none;
  
}

.login-help {

  margin:0 auto;
  text-align: center;
  
}

.sesion-bar {
  position:absolute;
  top: 100%;
  left: 100%;
  margin-top: -50px;   /* height/2 = 500px / 2 */ 
  margin-left:-180px;

}


ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: static;
	display: none;
}

/*Create a horizontal list with spacing*/
li {
	display:block;
	margin-right: 1px;
	margin-bottom: 1px;
}

/*Style for menu links*/
li a {
	display:block;
	width: 100%;
	margin:0 auto;
	text-align: center;
	font-size: 0.9em;
	border-bottom: 2px solid orange;
	padding-bottom: 5px;
	padding-top:8px;

}

/*Hover state for top level links*/


/*Style for dropdown links*/


/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	min-width: 100px;
	padding: 0 20px;
	width: 100%;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	text-decoration: none; 
	color: #fff;
	background: #f89934;
	text-align: center;
	padding: 10px 0;
	//float:right;
	display:block;
}

.contenido{
  display:normal;
  float:left;
  padding: 10px;
  width: 97%;
  margin-left: 0px;
  margin-top:55px;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  //overflow: hidden;

}
.contenido h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
  color: orange;


}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

